:root {
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));
    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --border1: 1rem;
    --border05: 0.5rem;
}

* {
    scroll-padding-top: 3em;
    scroll-behavior: smooth;
}
html {

    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


/* text styles */
h1 {
    font-size: var(--h1);
    letter-spacing: 0;
    font-weight: 700;

}

h2 {
    font-size: var(--h2);
    letter-spacing: 0;
    font-weight: 700;
}

h3 {
    font-size: var(--h3);
    font-weight: 700;
}

h4 {
    font-size: var(--h4);
    font-weight: 700;
}

h5 {
    font-size: var(--h5);
    font-weight: 400;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

p {
    font-size: var(--p);
    letter-spacing: normal;
    text-align: left;
}

::selection {
    background-color: var(--accent50);
}

li {
    font-size: var(--p);
    margin-top: 0.2rem;
}

pre {
    font-size: var(--p);
}

small {
    font-size: var(--small);
}

button {
    font-size: var(--p);
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.link.reversed {
    background-position-y: -0%;
    background-image: linear-gradient(180deg, transparent 50%, var(--text) 50%) !important;
    transition: all 0.1s ease;
    background-size: 2px;
    background-size: auto 190%;
    padding: 3px 0;
}

.link.reversed:hover {
    background-position-y: 5%;
    transition: all 0.1s ease;
}

.link {
    font-size: inherit;
    background-position-y: -0%;
    background-image: linear-gradient(180deg, transparent 50%, var(--accent) 50%) !important;
    transition: all 0.1s ease;
    background-size: 2px;
    background-size: auto 190%;
    padding: 3px 0;
}

.link:hover {
    background-position-y: 5%;
    transition: all 0.1s ease;
}

.utility-link {
    background-image: linear-gradient(180deg, transparent 50%, var(--static9) 50%) !important;
    color: var(--static2);
    font-size: inherit;
    opacity: 70%;
}

.utility-link:hover {
    background-image: linear-gradient(180deg, transparent 50%, var(--static9) 50%) !important;
    color: var(--static2);
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: var(--margin-lg);
    width: auto !important;
    position: relative;
    line-height: 1.75;
}


header {
    display: flex;
    justify-content: flex-end;
    height: 42px;
    width: 100%;
    padding: 1em 2em;
}

header ul {
    display: flex;
    gap: 1em;
}

header ul li {
  list-style: none;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 2rem 0;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 6rem;
    width: 100%;
}


.color-effect {
    color: var(--accent);
}

.font-effect {
    font-style: italic;


}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    width: 60%
}

.hero-text>h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.3
}

.hero-text>h1+h3 {
    margin-top: -1.6em;
}


.hero-cta {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-end
}

.hero-scroll {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: var(--p)
}

.mondrian {
    max-width: 100%
}

.hero-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stick-figure {
    width: 50%;
    position: absolute;

}

.stick-figure {
    width: 50%;
    position: absolute;

}


.stick-figure-samurai {
    width: 500px;
    height: 500px;
    background-image: url("../img/art/stick-figures/hero/samurai.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:  0%;
    bottom: calc(30% - var(--scrollAmount));
}

.stick-figure-duck,
.stick-figure-jumping {

    background-repeat: no-repeat;
    background-size: 50%;
    background-position:  0%;
    bottom: calc(30% - var(--scrollAmount));
}

.stick-figure-falling {
    bottom: calc(30% - var(--scrollAmount) * 1.5);
    right: calc(20% - var(--scrollAmount) / 8);
}

.stick-figure-jumping {
    bottom: calc(40% - var(--scrollAmount) * 1.2);
    left: calc(40% - var(--scrollAmount) / 8);
}

#search {
    display: flex;
    max-width: 600px;

}
.searchInput {
    padding: 2em;
    width: 500px;
    border-top-left-radius:    var(--border1);
    border-bottom-left-radius: var(--border1);
    border-top-right-radius:    0px !important;
    border-bottom-right-radius:  0px !important;

    border: 0px;
}

.searchButton {
    padding: 2em;
    border-top-right-radius: var(--border1);
    border-bottom-right-radius: var(--border1);
    border: 0px;
    cursor: pointer;
}

.why {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}


.why h2 {
    text-align: center;
    font-size: var(--h2);
    letter-spacing: 0;
    font-weight: 700;
}

.cardHolder {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2.5rem;
    gap: 20px;
    border-radius: var(--border1);
}

.highlight {
    font-weight: 400;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Poppins, sans-serif;
}

.bento {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.how {
    border-radius: var(--border1);
    padding: 3em 5em;
    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;

}

.info-box-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.info-box-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 5em
}

.step {
    width: 30%;
    flex-grow: 2
}

.one:before {
    content: "1";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1
}

.two:before {
    content: "2";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1
}

.three:before {
    content: "3";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1
}

.four:before {
    content: "4";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1
}

.info-box.get-suggestions {
    background-color: #f1f1f1
}


.faq-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2em;
    width: 100%;
    position: relative
}

.faq-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    position: relative
}

.faq-cont {
    border-radius: var(--border05);
    background-color: var(--secondary20);
    position: relative;
    width: 100%
}

.faq {
    border: none;
    outline: none;
    text-align: left;
    padding: 20px;
    cursor: pointer;
    border-radius: var(--border05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    gap: 10px
}

.faq-a>p {
    font-size: var(--p);
    padding: 1rem 0
}

.faq-a {
    position: relative;
    font-size: var(--p);
    padding: 0 20px;
    width: 100%;
    display: none;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
    border-radius: 0 0 var(--border05) var(--border05)
}

.faq-icon {
    transform: rotate(0);
    transition: all ease-in-out .2s;
    max-width: 5%
}

.is-open .faq-icon {
    transform: rotate(180deg);
    transition: all ease-in-out .2s
}

.is-open .faq-icon path:first-child {
      opacity: 0;
    
}


#download {
    display: flex;
    flex-direction: column;
    padding: 3em 5em;
    gap: 2em;

}

.dwn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
}
.download-box-right,
.download-box-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

}
.download-box-right {
    justify-content: flex-start;
}

.download-box-left {
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download-link {

}



.footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
	border-radius: 10px;
	background-color: var(--text5);
	color: var(--text);
	padding: 3em 5em;
	width: 100%;
	margin-bottom: 10em
}

.footer-cols {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 3em;
	width: 100%
}

.footer-col {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 30%
}

.footer-col>.menu-item {
	padding: 0
}

@media screen and (max-width: 1000px) {
	.footer-cols {
		flex-direction: column
	}

	.footer-col {
		width: 100%
	}

	.footer {
		padding: 3em
	}
    
}


p {
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 10px 0px;

}


footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    gap: 0.22em;

}

.logo 
{  
    height: 2.5em;
    width: 8em;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/logos/logo.svg');
    margin-bottom: 0.5em;
    margin: 0 auto;

}

.avatar {
    border-radius: 100%;
    width: 9em;
    border: 3px solid var(--primary50);
}




/* responsiveness */


@media screen and (max-width: 1500px) {
    .content-wrapper {
        margin: var(--margin-lg);
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --p: 0.8rem;
    }
}

@media screen and (max-width: 1000px) {

    


    .content-wrapper {
        gap: 2em;
        margin: auto;
    }

    .section-cards {
        flex-direction: column;
        gap: 2em;
    }


    .section-card {
        width: 100%;
    }


    main {
        margin: 3% 5%;
        width: 100%;
    }


    .primary-button,
    .secondary-button {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column !important;
        height: 100%;
        align-items: flex-start;
        gap: 0.5em;
        width: 100%;
        justify-content: flex-start;
        height: 100vh;
    }

    .menu :nth-child(4) {
        display: none;
    }

    .menu-item-mobile {
        background-color: var(--static10);
        padding: 1.5em !important;
        width: 100%;
    }

    .menu.hide {
        display: none;
    }


    .ham-menu {
        display: flex;
        padding: 0.9em 0.5em;
        align-items: center;
        height: 100%;
    }


    .get-suggestions-toolbar {
        flex-direction: row;
        align-self: center;
    }

    .main-block {
        height: 150px !important;
    }

    .color-block {
        height: 150px !important;
    }

    .row {
        width: 100% !important;
    }


    .disabled {
        background: var(--static) !important;
        opacity: 1;
        color: var(--static2) !important;
    }

    .disabled>svg {
        opacity: 20%;
    }


    .content-list {
        flex-direction: column !important;
    }

    .col1,
    .col2,
    .col3 {
        width: 100% !important;
    }

    main {
        overflow: visible !important;
    }

    .main-content {
        overflow-y: inherit !important;
        width: 100% !important;
        padding-right: 0 !important;
    }

    .popup {
        max-width: 90%;
        z-index: 10002 !important;
        padding: 10px !important;
    }


    #overlay,
    #font-overlay {
        z-index: 10001 !important;
    }


    .tabList {
        overflow-x: scroll;
    }


    .tab {
        white-space: nowrap;
    }

    .font-tab {
        white-space: nowrap;
    }

    .custom-code-block-cont {
        flex-direction: column;
    }

    .code-block-cont {
        flex-direction: column;
    }

    .wrapper {
        display: none;
    }

    pre {
        max-height: 10rem;
    }

    .content-list-scroll {
        width: 100%;
        background-color: var(--bg);
        left: 0;
        top: 0;
        height: 100%;
        padding: 8rem 1rem;
        z-index: 9999;
    }

    .main-content {
        width: 100% !important;
    }

    #custom-output {
        max-height: 8rem;
    }

}

@media screen and (max-width: 1000px) {
    .hero {
        flex-wrap:wrap;
        justify-content: flex-start;
        margin: 0 6rem
    }

    .hero-text>h1 {
        white-space: wrap;
        font-size: var(--h2)
    }
    
    .hero-text>h1+h3 {
        margin-top: -1em;
    }
    

    .hero-text{
        width: 100%;
        gap: 1em
    }

    .hero-img {
        width: 90%
    }

    .hero-img-left {
        display: none
    }

    .mondrian {
        height: auto
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em
    }

    .logoface {
        width: 30px
    }

    .hero-cta {
        flex-direction: column
    }

    .how {
        flex-direction: column;
        padding: 2em 4em;
        align-items: center
    }


    .info-box-left {
        width: 120%
    }

    .info-box-right {
        width: 100%
    }


    .first-row-col1,.first-row-col2,.second-row-col1,.second-row-col2 {
        grid-area: auto!important
    }


      .faq-section {
        flex-direction: column
    }
    

    .faq-list, .step{
        width: 100%;
    }


    .part-heading.left {
        align-items: center
    }


    .how {
        gap: 2rem
    }
}


/* Progress bar */
#progress {
    --scrollAmount: 0%;
    width: var(--scrollAmount);
    height: 3px;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

