/* ----- FONTS ----- */

/* Import fonts */



  @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'IM_Hyemin';
    src: url('../css/fonts/IM_Hyemin-Regular.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Set font variables */
:root {
    --bodyFont: 'Archivo', sans-serif;
    --titleFont:  'IM_Hyemin', sans-serif;
}

/* Set font families for elements */
body,
p,
textarea,
h5,
h6 {
  font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4 {
  font-family: var(--titleFont);
}



/* ----- COLORS ----- */

/* Set color variables */
:root {


    --text: #413e3a;
    --background: #fffcf0;
    --primary: #252422;
    --secondary: #CCC5B8;
    --accent: #eb6028;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #64d97b;
    --secondarycontrast: #ffdd00;
    --accentcontrast: #ff8f8f;
    --accentdark: #f1591b;
    --text5: hsl(34, 6%, 24%, 5%);
    --text10: hsl(34, 6%, 24%, 10%);
    --text15: hsl(34, 6%, 24%, 15%);
    --text20: hsl(34, 6%, 24%, 20%);
    --text25: hsl(34, 6%, 24%, 25%);
    --text30: hsl(34, 6%, 24%, 30%);
    --text35: hsl(34, 6%, 24%, 35%);
    --text40: hsl(34, 6%, 24%, 40%);
    --text45: hsl(34, 6%, 24%, 45%);
    --text50: hsl(34, 6%, 24%, 50%);
    --text55: hsl(34, 6%, 24%, 55%);
    --text60: hsl(34, 6%, 24%, 60%);
    --text65: hsl(34, 6%, 24%, 65%);
    --text70: hsl(34, 6%, 24%, 70%);
    --text75: hsl(34, 6%, 24%, 75%);
    --text80: hsl(34, 6%, 24%, 80%);
    --text85: hsl(34, 6%, 24%, 85%);
    --text90: hsl(34, 6%, 24%, 90%);
    --text95: hsl(34, 6%, 24%, 95%);
    --primary5: hsl(40, 4%, 14%, 5%);
    --primary10: hsl(40, 4%, 14%, 10%);
    --primary15: hsl(40, 4%, 14%, 15%);
    --primary20: hsl(40, 4%, 14%, 20%);
    --primary25: hsl(40, 4%, 14%, 25%);
    --primary30: hsl(40, 4%, 14%, 30%);
    --primary35: hsl(40, 4%, 14%, 35%);
    --primary40: hsl(40, 4%, 14%, 40%);
    --primary45: hsl(40, 4%, 14%, 45%);
    --primary50: hsl(40, 4%, 14%, 50%);
    --primary55: hsl(40, 4%, 14%, 55%);
    --primary60: hsl(40, 4%, 14%, 60%);
    --primary65: hsl(40, 4%, 14%, 65%);
    --primary70: hsl(40, 4%, 14%, 70%);
    --primary75: hsl(40, 4%, 14%, 75%);
    --primary80: hsl(40, 4%, 14%, 80%);
    --primary85: hsl(40, 4%, 14%, 85%);
    --primary90: hsl(40, 4%, 14%, 90%);
    --primary95: hsl(40, 4%, 14%, 95%);
    --secondary5: hsl(39, 16%, 76%, 5%);
    --secondary10: hsl(39, 16%, 76%, 10%);
    --secondary15: hsl(39, 16%, 76%, 15%);
    --secondary20: hsl(39, 16%, 76%, 20%);
    --secondary25: hsl(39, 16%, 76%, 25%);
    --secondary30: hsl(39, 16%, 76%, 30%);
    --secondary35: hsl(39, 16%, 76%, 35%);
    --secondary40: hsl(39, 16%, 76%, 40%);
    --secondary45: hsl(39, 16%, 76%, 45%);
    --secondary50: hsl(39, 16%, 76%, 50%);
    --secondary55: hsl(39, 16%, 76%, 55%);
    --secondary60: hsl(39, 16%, 76%, 60%);
    --secondary65: hsl(39, 16%, 76%, 65%);
    --secondary70: hsl(39, 16%, 76%, 70%);
    --secondary75: hsl(39, 16%, 76%, 75%);
    --secondary80: hsl(39, 16%, 76%, 80%);
    --secondary85: hsl(39, 16%, 76%, 85%);
    --secondary90: hsl(39, 16%, 76%, 90%);
    --secondary95: hsl(39, 16%, 76%, 95%);
    --accent5: hsl(17, 83%, 54%, 5%);
    --accent10: hsl(17, 83%, 54%, 10%);
    --accent15: hsl(17, 83%, 54%, 15%);
    --accent20: hsl(17, 83%, 54%, 20%);
    --accent25: hsl(17, 83%, 54%, 25%);
    --accent30: hsl(17, 83%, 54%, 30%);
    --accent35: hsl(17, 83%, 54%, 35%);
    --accent40: hsl(17, 83%, 54%, 40%);
    --accent45: hsl(17, 83%, 54%, 45%);
    --accent50: hsl(17, 83%, 54%, 50%);
    --accent55: hsl(17, 83%, 54%, 55%);
    --accent60: hsl(17, 83%, 54%, 60%);
    --accent65: hsl(17, 83%, 54%, 65%);
    --accent70: hsl(17, 83%, 54%, 70%);
    --accent75: hsl(17, 83%, 54%, 75%);
    --accent80: hsl(17, 83%, 54%, 80%);
    --accent85: hsl(17, 83%, 54%, 85%);
    --accent90: hsl(17, 83%, 54%, 90%);
    --accent95: hsl(17, 83%, 54%, 95%);

    --nirdine: #676FA3;
    
    --bg-art: url(/img/art/bg.png);
    --discord: #5865f2;
    --patreon: #ff424d;

}

/* Set colors for elements */
body {
  background: var(--background);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
    background-image: url(../img/assets/bg.avif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px);
    opacity: 0.5;
}


.element {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-color: rgba(255, 255, 255, 0.14);
}

.searchButton {
    background: var(--accent);
    color: var(--background);
}


#search .searchInput:hover,
#search .searchInput:focus-visible {
    background: var(--background);
}

.searchButton:hover,
.searchButton:focus-visible,
header ul img:hover,
header ul a:focus-visible img {
    filter: brightness(1.2);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

p,
span {
    color: var(--text);
}

a {
  text-decoration: none;
  color: var(--accent);
}

strong {
    font-weight: 700;
}

mark {
    color: var(--accent);
}


footer span {
    color: var(--nirdine);
    opacity: 0.8;
}

footer:hover,
foooter:focus-within {
    opacity: 1;
}

#progress {
  background-image: linear-gradient(120deg, var(--accent) 0%, var(--accentdark) 100%);
}